# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
AddDefaultCharset UTF-8
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag register_globals Off
php_flag display_errors on

Options -Indexes
#ErrorDocument 401 /401.html
#ErrorDocument 403 /403.html
#ErrorDocument 404 /404.html

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

php_value memory_limit 64M

php_value upload_max_filesize 30M
php_value post_max_size 30M
php_value max_input_time 2000
php_value date.timezone 'Europe/Helsinki'

#php_value session.gc_maxlifetime 60
#php_value session.gc_probability 1
#php_value session.gc_divisor 1