*{font-family: Vardana, sans-serif; margin: 0px auto; padding: 0;}
html{height:100%; background: url('../img/bg.jpg');}

.top-str{
    height: 7px; 
    background: black; 
    border-bottom: 1px solid #737476; 
    z-index: 99;
}

body{
    margin: 0;
    padding-bottom: 30px;
    font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial";

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #8b8b8b;
    min-height:100%; position:relative; min-width: 800px; background: url('../img/bg_main.jpg')  50% 0 no-repeat; z-index: -2;
}

* html body{height:100%;}
a{text-decoration: none; color: inherit;}
#menu{text-align: center; padding: 8px;}

#menu a{
    font-size: 14px;
    line-height: 50px;
    padding: 12px 20px 12px 19px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#menu a:hover{
    background-image: linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	color-stop(0.44, rgb(0,140,254)),
        (0.72, rgb(0,176,252))
    );

}

.selected-menu{
    background-image: linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,254) 44%, rgb(0,176,252) 72%);
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	color-stop(0.44, rgb(0,140,254)),
	color-stop(0.72, rgb(0,176,252))
    );
}



#search{padding: 8px; line-height: 50px; text-align: right;}
#search input{height: 33px; margin-right: 2 0px;}

#search input[type=text]{
    width: 290px;
    border: 1px solid black;
    padding:0 35px 0 15px;
    background: #262627;
    color: white;
    border-radius: 5px;
    border-bottom: 1px solid #5c5d61;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#search input[type=reset]{
    /*border: 1px solid red;*/
    height: 20px;
    width: 20px;
    padding:0 15px 0 15px;
    visibility: hidden;
    position: relative;
    margin: 10px 0 0 -60px;
    /*background: #ce1000;*/
    font-weight: bold;
    color: red;
    background: transparent;
    border: transparent;
    /*background: url(../img/search.png) no-repeat;*/
    /*background-color: red;*/
}

#search input[type=submit]{
    /*border: 1px solid black;*/
    padding:0 15px 0 15px;
    border-radius: 5px;
    position: relative;
    top: -8px;
    cursor: pointer;
    left: -5px;
     /*border: 1px solid red;*/
    /*border-bottom: 1px solid #5c5d61;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    background: #ce1000;
    font-weight: bold;
    background: url(../img/search_green.png) no-repeat center;
    /*background-color: #18DDFF;*/
    /*background: transparent;*/
    border: transparent;
}

#content{
    word-wrap: break-word;
    margin: 0px auto;
    width: 650px;
    min-height: 900px;
    width:expression(document.body.clientWidth > 800 ? "100%" : "800px"); overflow:hidden;
}

#content h1{margin-top: 50px; color: white; font-size: 37px; text-align: center;}
#info{border: 1px solid black; position: fixed; top: 0; left: 0; width: 150px; height: 100%;}
#info_content{position: inherit; padding: 10px; color: white; left: 1px;}
#info_content ul{list-style: none;}
#info_content ul li{ color: #8b8b8b;}
#info_content ul li:hover{ color: white;}

#info_content ul li:first-child{
    color: red;
    text-transform:capitalize;
}

#infoRight{z-index: -1;position: fixed; top: 0; right: 0; width: 200px; height: 100%;}
#info_contentRight{position: inherit; padding: 10px; color: white; }

#transparent {
    opacity:0.2;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    background-color: black;
    width: inherit;
    height: inherit;
    position: inherit;
}

.code{

    border: 1px solid gray; 
    border-radius: 5px; 
    padding: 10px; 
    background: black; 
    color: whitesmoke;
    margin-left: 0px;
}

.num { 
    padding: 10px 0 10px 0;
    float: left; 
    color: white; 
    text-align: right; 
    margin-right: 6pt; 
    padding-right: 6pt;
    padding-left: 6px;
    border-right: 1px solid gray;
    background: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#footer{position: fixed; z-index: 999; height: 30px; width: 100%; bottom: 0px; color: white;}
#footer div{background: red; z-index: -1;}
#footer-text{background: transparent;}
#footer label{margin: 5px 0 0 0; display: block;}
#footer a{padding: 7px 10px; margin: 0 -5px 0 0;}
#footer a:hover{color: black; background: wheat;}

/** Forms */
form label {display: block; float: left; width: 75px; padding: 0; margin: 9px; text-align: right;}
form input, form select, form textarea {width: 450px; margin: 5px 0 5px 10px; border: 1px solid gray; padding: 5px;}
form input[type=submit]{width: 70px;}
form textarea{height: 200px;}
#label-content{margin-right: 20px;}
form [type=date], [type=time]{width: 137px;}
form input[type=submit]:hover {cursor: pointer; background: silver;}
form br {clear: left;}
a[type="del"]{font-weight: bold; color: red;}
a[type="edit"]{font-weight: bold; color: green;}

#form-login input[type=text]{width: 200px;}
#form-login input[type=submit]{width: 80px;}

#fima name{color: black; padding: 5px 10px; border-radius: 5px; font-size: 20px; background: yellow;}

#fima name:hover{cursor: default;}

#container_id{margin: 70px 0;}

#file{width: 580px; height: 600px; padding: 5px 0 0 5px; display: none;}

.save{text-align: right; clear: none;}
save, close{visibility: hidden;}
save:hover{cursor: pointer; color: green;}
close:hover{cursor: pointer; color: red;}

/*FIMA. Begin*/

#fima-page{

}
#fima-tree{width: 150px; height: 400px; overflow-y: scroll; }
#fima-folder-file{
    width: 400px;
    height: 400px;
}


#folio{
    text-align: center;
}

#folio a img{
    margin: 0 0 30px 0;
    border: 1px solid tomato;
}

#folio-info {
    margin-bottom:50px;
}

#folio-info dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

#folio-info dd {
    margin:2px 0;
    padding:5px 0;
    font-size: 14px;
}


.chat-bubble{
    display: none;
    color: black;
    background-color: #EDEDED;
    border: 1px solid #666666;
    padding: 5px;
    position: absolute;
    text-align: center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
}

.chat-bubble-two{
    display: none;
    color: black;
    background-color: #EDEDED;
    border: 1px solid #666666;
    padding: 5px;
    position: absolute;
    text-align: center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
}
.chat-bubble-arrow-border-bottom{
    border-color:  #666666 transparent transparent ;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -11px;
    left: 7px;
}
.chat-bubble-arrow-bottom{
    border-color:  #EDEDED transparent transparent;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -9px;
    left: 7px;
}

.chat-bubble-arrow-border-top{
    border-color: transparent transparent #666666;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: -11px;
    left: 7px;
}
.chat-bubble-arrow-top{
    border-color:  transparent transparent #EDEDED;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: -9px;
    left: 7px;
}

